header .navigation .basket-icon {
  margin-right: 30px;
  position: relative;
}

header .navigation .basket-icon i {
  font-size: 25px;
  color: red;
}

header .navigation .basket-icon span {
  position: absolute;
  top: -15px;
  color: red;
}

.delete-icon {
  font-size: 25px;
  color: red;
  cursor: pointer;
}


a {
  position: relative;
}


a:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #f90000;
  transition: all 0.5s;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #f90000;
  transform: scaleX(0);
  transform-origin: top;
  transition: all 0.5s;
}

a:hover:before,
a:hover:after {
  transform: scaleX(1);
}